@use "mixins";
@use "variables";

// RESET CSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

// GENERAL

body {
  background-color: variables.$midnight;
  color: variables.$milkyway;
  padding: 2rem;
}

button {
  cursor: pointer;
}

// TEXT STYLES

h1 {
  @include mixins.text-preset(primary-title);
}

.secondary__title {
  @include mixins.text-preset(secondary-title);
}

.third__title {
  @include mixins.text-preset(third-title);
}

.italic__accent {
  font-style: italic;
}

.primary__menu {
  list-style: none;
  @include mixins.flex-preset(row-start);
  gap: 0.5rem;

  li a {
    text-decoration: none;
  }
}

.menu__link {
  @include mixins.button-preset(menu-link);

  &:hover {
    @include mixins.button-hover-preset(menu-link);
  }
}

.movie__link {
  @include mixins.text-preset(movie-link);
  text-decoration: none;
  padding: 0.8rem;
  border-bottom: 0.1rem solid variables.$milkyway;
  font-weight: 700;
  transition: all linear 0.3s;
  &:hover {
    color: variables.$ruby;
    border-bottom: 0.1rem solid variables.$ruby;
  }
}

// BUTTONS

.primary__button {
  @include mixins.button-preset(primary-button);

  &:hover {
    @include mixins.button-hover-preset(primary-button);
  }
}

.secondary__button {
  @include mixins.button-preset(secondary-button);

  &:hover {
    @include mixins.button-hover-preset(secondary-button);
  }
}

// HEADER

header {
  position: relative;
  @include mixins.flex-preset(row-start);
  img {
    height: 10rem;
  }
}

.header__container {
  @include mixins.flex-preset(column-start);
  min-height: 100vh;
}

.header__container::after {
  content: "";
  background: url("../img/background.png");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.4;
}

// HERO SECTION

.hero__section {
  align-self: center;
  @include mixins.flex-preset(column-start);
  margin-top: 13%;
  gap: 2rem;
}

.search__bar {
  @include mixins.flex-preset(row-center);
  gap: 1rem;
  margin: 0 auto;
}

#search {
  width: 50rem;
  height: 4rem;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
}

// MOVIES LIST CONTAINER

.movies__list__container {
  margin: 0 0 5rem;
  @include mixins.flex-preset(column-center);
}

// MOVIES LIST TABLE

.movies__list {
  @include mixins.flex-preset(column-center);
  border-collapse: collapse;

  th,
  td {
    padding: 2rem;
    font-size: 2.2rem;
    text-align: left;
  }

  td {
    font-size: 1.8rem;
  }

  .primary__button {
    margin-right: 1rem;
  }
}

.table__header {
  border-bottom: solid 0.1rem variables.$milkyway;
}

.movies__list__container {
  .secondary__title {
    margin-bottom: 5rem;
  }
  .primary__button {
    margin-top: 5rem;
  }
}

// UPDATE MOVIE PAGE

.update__movie {
  @include mixins.flex-preset(column-center);
  margin: 3rem 0 8rem;

  .secondary__title {
    margin: 5rem;
  }
}

.update__text {
  margin: 0 0 5rem;
  text-align: center;

  h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }

  h5 {
    font-size: 2.5rem;
  }
}

// ADD MOVIE FORM + UPDATE MOVIE FORM

.add__movie {
  margin: 8rem;
  .secondary__title {
    text-align: center;
    margin-bottom: 4rem;
  }
}

.add__movie__container, .update__movie {
  @include mixins.flex-preset(column-center);

  .add__movie__form, .update__form {
    @include mixins.flex-preset(column-center);
    gap: 1.5rem;

    .add__movie__form, .update__form,
    .form__input {
      width: 45rem;

      label {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }

    input,
    select {
      height: 4rem;
      padding: 0.5rem;
    }

    input,
    select {
      width: 100%;
      border-radius: .5rem;
      border: none;
    }

    button {
      margin-top: 2.5rem;
      padding: 1.5rem 6rem;
    }
  }
}

// RESULTS PAGE AFTER SEARCH BAR

.results__title {
  text-align: center;
  margin: 5rem 0 8rem;
}

.results__container {
  margin-bottom: 12rem;
}

.results {
  @include mixins.flex-preset(row-center-start);
  gap: 4rem;
}

.movie {
  @include mixins.flex-preset(column-center);
  margin: 8rem;
}

.movie__details {
  padding: 5rem 6rem;
  background-color: variables.$dark-matter;
}

.results__movie,
.movie__details {
  max-width: 40rem;
  h4 {
    @include mixins.text-preset(movie-title);
    margin-bottom: 1rem;
  }

  .results__feature,
  .movie__details__feature {
    @include mixins.text-preset(feature);
  }

  .movie__details__feature--genre {
    text-transform: none;
    font-size: 1.3rem;
    margin-top: 1rem;
  }

  .results__resume,
  .movie__details__resume {
    margin: 3rem 0 5rem;
    font-size: 1.5rem;
  }
}

// FOOTER

footer {
  @include mixins.flex-preset(row-center);
  font-size: 1.5rem;

  a {
    color: variables.$milkyway;
  }
}
