@use "variables";

// MEDIA QUERIES

@mixin media-min($_min-width) {
  @media screen and (min-width: $_min-width) {
    &{ @content; }
  }
}

// FLEX PRESETS

$flex-presets: (
    column-center: (flex, column, center, center),
    column-start: (flex, column, flex-start, flex-start),
    column-center-start: (flex, column, flex-start, center),
    column-start-end: (flex, column, flex-start, flex-end),
    column-sb: (flex, column, space-between, center),
    row-center: (flex, row, center, center),
    row-start: (flex, row, flex-start, center),
    row-sb: (flex, row, space-between, center),
);

@mixin flex-preset($preset) {
  $settings: map-get($flex-presets, $preset);
  display: nth($settings, 1);
  flex-direction: nth($settings, 2);
  justify-content: nth($settings, 3);
  align-items: nth($settings, 4);
}

// TEXT STYLES

$text-presets: (
    primary-title: (variables.$milkyway, 'Inter', 8rem, uppercase, .05rem),
    secondary-title: (variables.$milkyway, 'Inter', 6rem, uppercase, .05rem),
);

@mixin text-preset($preset) {
  $settings: map-get($text-presets, $preset);
  color: nth($settings, 1);
  font-family: nth($settings, 2);
  font-size: nth($settings, 3);
  text-transform: nth($settings, 4);
  letter-spacing: nth($settings, 5);
}

// BUTTONS

$button-presets: (
    primary-button: (variables.$milkyway, 'Inter', 1.2rem, uppercase, 0.05rem, transparent, none, 1.2rem 4rem, 800, center, 2.5rem, all 0.3s linear, solid .1rem variables.$milkyway),
    menu-link: (variables.$milkyway, 'Inter', 1.3rem, uppercase, 0.05rem, transparent, none, 1.2rem 4rem, 800, center, 2.5rem, all 0.3s linear, none),
);

@mixin button-preset($preset) {
  $settings: map-get($button-presets, $preset);
  color: nth($settings, 1);
  font-family: nth($settings, 2);
  font-size: nth($settings, 3);
  text-transform: nth($settings, 4);
  letter-spacing: nth($settings, 5);
  background-color: nth($settings, 6);
  text-decoration: nth($settings, 7);
  padding: nth($settings, 8);
  font-weight: nth($settings, 9);
  text-align: nth($settings, 10);
  border-radius: nth($settings, 11);
  transition: nth($settings, 12);
  border: nth($settings, 13);
}

$button-hover-presets: (
    primary-button: (variables.$ruby, solid .1rem variables.$ruby, variables.$milkyway),
    menu-link: (none, none, variables.$ruby),
);

@mixin button-hover-preset($preset) {
  $settings: map-get($button-hover-presets, $preset);
  background-color: nth($settings, 1);
  border: nth($settings, 2);
  color: nth($settings, 3);
}